body {
  font-family: 'Roboto', Helvetica, sans-serif;
}

#title {
  font-weight: 300;
  font-style: italic;
}

.glyphicon-tasks {
  font-size: 30px;
  padding: 0 15px;
}

#archive-switch {
  float: right;
  text-align: right;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

#addTodoButton {
  margin-top: 15px;
}

#addTodoIcon {
  padding-left: 4px;
}

input:focus {
  border-bottom: 1px solid #3d5afe;
  -webkit-box-shadow: 0 1px 0 0 #3d5afe;
  -moz-box-shadow: 0 1px 0 0 #3d5afe;
  box-shadow: 0 1px 0 0 #3d5afe;
}