body {
  font-family: 'Roboto', Helvetica, sans-serif;
}

#title {
  font-weight: 300;
  font-style: italic;
}

.glyphicon-tasks {
  font-size: 30px;
  padding: 0 15px;
}

#archive-switch {
  float: right;
  text-align: right;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}